@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');


body {
    font-family: 'DynaPuff', cursive;
    background-color: #fad9bb;
}


#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.titulo {
    color: #ffffff;
    font-size: 50px;
}


.subtitulo {
    color: #ffffff;
    font-size: 35px;
}


.tarjetas, .tarjetas-ataque {
    display: flex;
    gap: 10px;
}


.tarjeta-de-materia { 
    width: 220px;
    height: 100px;
    background: #F7D060;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}
.tarjeta-de-materia:hover {
    width: 220px;
    height: 100px;
    background: #c79e22;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid rgb(255, 0, 119);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(148, 120, 120);
}


.tarjeta-de-materia img {
    width: 80px;
}

.boton-de-mascota {
    width: 130px;
    height: 40px;
    background: rgb(211, 99, 35); 
    margin-top: 20px;
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
    border: 1px solid red;
    border-radius: 20px;
    color: #98D8AA;
}
.boton-de-mascota:hover {
    width: 130px;
    height: 40px;
    background: rgb(175, 202, 23);
    margin-top: 20px;
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
    border: 2px solid red;
    border-radius: 20px;
    color: #F7D060;
}


input{
    display: none;
}

input:checked + label {
    background-color: rgb(219, 104, 135);
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque { 
    background-color: #c79e22;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 80px;
    color: white;
    font-family: 'Lobster Two', cursive;
    font-size: 21px;
    margin: 10px;
}
.boton-de-ataque:hover { 
    background-color: #fcc729;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    width: 80px;
    color: rgb(148, 142, 142);
    font-family: 'Lobster Two', cursive;
    font-size: 21px;
}

#mensajes {
    width: 280px;
    padding: 5px;
    background: #fcc729;
    color: #FF6D60;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    border: none;
    color: #fcc729;
    background-color:#FF6D60;
    font-size: 17px;
    border-radius: 10px;
    font-family: 'Lobster Two', cursive;
}

#boton-reiniciar:hover {
    border: none;
    color: #bba259;
    background-color:#f08980;
    font-size: 17px;
    border-radius: 10px;
    font-family: 'Lobster Two', cursive;
}

.ataques {
    display: grid;
    grid-template-columns: 150px 150px;

}

.parrafo {
    color: rgb(75, 72, 72);
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 17px;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ver-mapa button {
    width: 90px;
    height: 40px;
    background: rgb(211, 99, 35); 
    margin-top: 20px;
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
    border: 1px solid red;
    border-radius: 20px;
    color: #98D8AA;
    margin: 4px;
}

@media (max-width: 560px) {
    .tarjetas, .tarjetas-ataque {
        flex-direction: column;
    }
}
@media (max-width: 300px) {
    #ver-mapa div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
